bs4
dill
lxml
nodriver>=0.45.1
Requests
rich
ua_generator
Sphinx
sphinx-autodoc-typehints
sphinx-jinja2-compat
sphinx-markdown-tables
sphinx-prompt
sphinx-rtd-theme
sphinx-tabs
sphinx-toolbox
sphinx_collapse
